#main{
    width: 480px;
    margin:  0 auto;
    border-radius: 10px;
    overflow: hidden;
    background: #eee;
}
div{
    float: left;
    background: url(memoryGame/Moon.gif);
    cursor: pointer;
    margin: 5px;
}
img{
    opacity: 0;
}